{% extends "base.html" %}
{% block title %}Agendamentos{% endblock %}
{% block content %}
{% if view_mode == 'restricted' %}
<div class="schedule-restricted">
    <div class="schedule-restricted-blur" aria-hidden="true">
        {% set form_action = 'agendamentos' %}
        {% include '_schedule_boards.html' %}
    </div>
    <div class="schedule-restricted-overlay">
        {% include '_acesso_negado.html' %}
    </div>
</div>
{% elif view_mode == 'detailed' %}
{% include '_detailed_table.html' %}
{% else %}
{% set form_action = 'agendamentos' %}
{% include '_schedule_boards.html' %}
{% endif %}
{% endblock %}
